.landingSection {
     background-color: #F6F7FB;
}
.landingSection p {
	font-weight: lighter;
}
.customColor {
	background-color: #f6f7fb;
}


@media only screen and (max-width: 600px) {
	.landingSection h1 {
		font-size: 22px;
	}
}