.landingSection {
     background-color: #F6F7FB;
     height: 122vh;
     width: 100%;
}
.centered-h1 {
     font-size: 57.2px;
     font-weight: 900;
     font-stretch: normal;
     font-style: normal;
     line-height: 1.14;
     letter-spacing: normal;
     text-align: left;
}
.landingSection p {
	font-size: 16px;
     font-weight: normal;
     font-stretch: normal;
     font-style: normal;
     line-height: 1.63;
     letter-spacing: normal;
     text-align: left;
     width: 556px;
     height: 78px;
     flex-grow: 0;
     color: #515765;

}
.buttonColorMain{
     background-color: #010068;
}
.customColor {
	background-color: #f6f7fb;
}
.parent {
     background: linear-gradient(rgba(0.0, 0.0, 0.0, 0.0), rgba(0.0, 0.0, 0.0, 0.0)), 
     url("../../assets/Illustration@3x.png");
     background-position: center;
     background-repeat: no-repeat;
     background-size: contain;
     height: 77vh;
     position: relative;
     border-radius: 10px;
     width: auto;
}
.pt-6 {
     padding-top: 90px;
}
.image1 {
     position: absolute;
     top: 40%;
     left: 40%;
}

.image2{
     position: absolute;
     top: 80%;
     right: 330px;
}


/* from this screen down */
@media only screen and (max-width: 768px) {
     .centered-h1{
          font-size: 22px;
	}
     .landingSection p {
          font-size: 11px;
          font-weight: normal;
          width: auto; 
     }
     .landingSection {
          height: auto;
     }
     .parent {
          display: none;
     }
}

/* On screens that are 1024px wide or less, */
@media screen and (max-width: 1024px) {
     .landingSection {
          height: auto;
     }
     .image2{
          display: none;
     }
     .image1 {
          left: 10%;
     }
}
