/* this styles are for the general styles */
.nav-bg{
     background-color: #F8F9FA !important;
}
.profileImage p {
	margin-top: 15px;
	font-size: 12px;
}
.profileImage p span {
	font-size: 10px;
	font-weight: lighter;
}
.h-custom {
	padding: 90px;
}
.buttonColor {
	background-color: #010068;
	border: #010068 1px solid;
}
.customRounded{
     border-radius: 100px;
}
.main-footer {
     background-color: #01005F;
     color: #ffff;
     width: 100%;
     height: auto;
}
/* My media query section */

@media only screen and (max-width: 768px) {
	.profileImage p {
		margin-top: 15px;
	}
	.h-custom {
		padding: 5px;
	}
	.profileImage {
		padding-left: 25%;
	}
     .hide-sm {
          display: none;
     }
}
